
form {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 10px;
    width: 20rem;
}

.erro {
    color: red;
}

.invalido {
    color: red;
}

select{
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
}

